<!-- #TODO: check links! -->
<ul>
  <% if @product.id %>
     <li><%= tab_link_to _('Data Entry').html_safe, pc_basic_path(@product.pc_product), :product => @product, :index => 1 %></li>
     <li style="padding-top:10px;padding-bottom:10px"> > </li>
     <li><%= tab_link_to _('KEPI\'s selection').html_safe, pc_indicator_path(@product.st_product), :product => @product, :index => 2 %></li>

   <% end %>               
<div class="clear"></div>
</ul>
